
@font-face {
  font-family: 'countach';
  src: url('Countach-Regular.eot?#iefix') format('embedded-opentype'),  url('Countach-Regular.otf')  format('opentype'),
	     url('Countach-Regular.woff') format('woff'), url('Countach-Regular.ttf')  format('truetype'), url('Countach-Regular.svg#Countach-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
